.App {
  background-color: #282c34;
  color: white;
  height: 100vh;
}

.App-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
}

li {
  display: flex;
}

li a.link--username {
  display: block;
  width: 30%;
}

.link--username:hover {
  font-weight: bold;
  width: 30%;
}
